.icon-trash {
    opacity: 0.5;
  }
  
  .icon-trash:hover {
    opacity: 1;
    cursor: pointer;
  }


  
  body {

    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  .header {
    background-color: #151515;
    color: #fff;
    text-align: center;
    padding: 3rem;
    margin-top: 55px;
  }

  .header img {
    margin-right: 80%;
    width: 100px;
    margin-top: -30px;
  }

  .header h3 {
    text-align: left;
    margin-left: 15%;
    margin-top: -50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .content {
    padding: 5rem;
    text-align:center;
  }
  
  .content p {
    color: #007bff;
  }
  
  .footer {
    background-color: #151515;
    color: #fff;
    text-align: center;
    padding: 3rem;
  }

  /*CARDS*/

  .custom-card {
    width: 200px; /* Defina a largura desejada */
    height: 100px;
  }

  .host-events {
      font-size: 1.2rem;
    }

  .create-host-event {
      font-size: 1.5rem;
    }


    /*contato*/

  h3 {
      text-align: center;
      margin: 30px;
  }

  form {
      background: #fff;
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 50px;
  }

  label {
      display: block;
      font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 3px;
  }

  textarea {
      height: 100px;
  }

  button {
      background: #007BFF;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
  }

  button:hover {
      background: #0056b3;
  }

  /*MENU*/
  