/*style do arquivo search*/

.card {
    margin: 0 auto;
    width: 70%;
  }
  
  .table td,
  .table th {
    text-align: center;
  }
  
  .tabela {
    max-height: 58vh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
  }
  
  body {
    background-color: #555;
  }
  
  td>a {
    color: black;
  }
  
  td>a:hover {
    color: #28a745;
    transition: 1s ease 10ms;
  }